a{
    text-decoration: none;
}

.nav{
    background-color: #8aa191;
    height: 9%;
}

.side-bar{
    background-color: #1d3117 !important;
}
.content{
    background-color: rgba(202, 194, 188, 0.4) !important;
}

.items a{
    color: #dcdcdc;
    height: 8%;
}

.items a:hover{
    background-color: #8aa191;
    color:black;
    font-weight: bold;
    .item-icon{
        color:#da9f87;
    }
}
