a{
    text-decoration: none;
}

.nav{
    background-color: #8aa191;
    height: 9%;
}

.side-bar{
    background-color: #1d3117;
}
.content{
    background-color: rgba(202, 194, 188, 0.4);;
}

/*.footer{*/
/*    background-color: darkslateblue;*/
/*    height: 8%;*/
/*}*/

.items a{
    color: #dcdcdc;
    height: 8%;
}

.items a:hover{
    background-color: #8aa191;
    color:black;
    font-weight: bold;
    .item-icon{
        color:#da9f87;
    }
}

#person-frame{
    padding-left: 300px;
}

#product-frame{
    padding-left: 300px;
}

